table.CHESS {
    border-collapse: collapse;
    counter-reset: Chess 65;
}

table.CHESS td {
    width: 50px;
    height: 50px;
    border: solid rgb(0, 0, 0) 3px;
    counter-increment: Chess -1;
}

table.CHESS td::before {
    content: counter(Chess)
}

tr:nth-child(even) td:nth-child(even) {
    background-color: black;
    color: aliceblue
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: black;
    color: aliceblue;
}


/* table.CHESS tr:first-child td {
    background-color: darkseagreen;
    height: 50px;
}

table.CHESS tr:last-child td {
    background-color: darkseagreen;
    height: 50px;
}

table.CHESS td:first-child,
table.CHESS td:last-child {
    background-color: darkseagreen;
    height: 50px;
} */