.menu {
    width: 200px;
    background-color: rgb(35, 35, 35);
    color: azure;
    position: relative;
}

.list {
    position: absolute;
    display: none;
}

a {
    display: block;
    text-decoration: none;
    background-color: rgb(35, 35, 35);
    color: azure;
    width: 200px;
    padding-left: 5px;
}

a:hover {
    color: darkred;
}

.menu:active .list {
    display: block;
}