* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: space-between;
    background-color: rgba(172, 169, 169, 0.731);
}

.Navigation_block {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 15em;
    background-color: tomato;
}

.Article {
    margin-bottom: .2em;
    background-color: darkolivegreen;
    width: 100%;
}

.img {
    display: flex;
    justify-content: right;
}

.img img {
    width: 200px;
}

.footer {
    width: 100%;
    background-color: bisque;
}