* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("./kraska_razvody_puzyri_139960_3840x2160.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main {
    margin: 0 auto;
}

p {
    font-family: 'Caveat', sans-serif;
    font-size: 21px;
}