* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    width: 800px;
}

.left {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    text-decoration: underline;
}

p {
    font-family: 'Caveat';
    text-indent: 20px
}

sub {
    font-size: 20px;
}

span {
    font-size: larger;
}

sup {
    font-size: 35px;
}