* {
    /*padding: 0;
    margin: 0;*/
    box-sizing: border-box;
}

.main {
    width: 50%;
    margin: 0 auto;
}

.content {
    display: flex;
}

.right img {
    padding-top: 5%;
    width: 110%;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.nav img {
    width: 40px;
}