* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 0.1px;
}

.title {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0px 5px 10px 5px rgba(63, 92, 114, 0.3);
    margin-top: 20px;
}

.title img {
    width: 40px;
}


/*  Основа */

.main {
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    background-image: url("./Ultra.png");
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 30px;
    padding-right: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 30px;
    padding-top: 30px;
    padding-left: 40px;
}

.center {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0px 5px 10px 5px rgba(63, 92, 114, 0.3);
    width: 100%;
}

.center2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0px 5px 10px 5px rgba(63, 92, 114, 0.3);
    width: 100%;
}

.left {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    text-decoration: underline;
    padding-left: 10px;
}

.text {
    padding: 10px 20px 10px;
    font-size: 20px;
}

.text2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px 10px;
    font-size: 20px;
}

.spacemarine {
    display: flex;
    justify-content: center;
}

.spacemarine img {
    width: 300px;
}

.spacemarine1 img {
    width: 200px;
}

.spacemarine2 {
    display: flex;
    justify-content: center;
}

.spacemarine2 img {
    width: 130px;
}

p {
    font-family: 'Caveat';
    text-indent: 20px;
}

.main2 {
    min-height: 50vh;
    margin: 0 auto;
    width: 100%;
    background-image: url("./vCDUVn0jN5jmhKLS.jpg");
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.ss {
    min-height: 30vh;
    background-image: url("./Introduction-artwork-v3-1.jpg");
    width: 100%;
}