* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Хедер */

.container {
    padding-top: 0.1px;
}

.title {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0px 5px 10px 5px rgba(63, 92, 114, 0.3);
    margin-top: 20px;
}

.title img {
    width: 40px;
}


/*  Основа */

main {
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    background-image: url("./vCDUVn0jN5jmhKLS.jpg");
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 20px;
    padding-right: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
}

.center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0px 5px 10px 5px rgba(63, 92, 114, 0.3);
}

.left {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    text-decoration: underline;
    padding-left: 10px;
}

.text {
    padding-top: 10px;
    padding-left: 10px;
}

.spacemarine img {
    width: 200px;
}

p {
    font-family: 'Caveat';
    text-indent: 20px
}

sub {
    font-size: 20px;
}

span {
    font-size: larger;
}