* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(50, 50, 50);
}

.menu a {
    text-decoration: none;
}

.menu li {
    position: relative;
    list-style: none;
}

.menu_list {
    display: flex;
}

.menu_list>li {
    margin: 0 10px 0 0;
}

.menu_list>li:hover .sub_menu_list {
    display: block;
}

.menu_link {
    color: aliceblue;
}

.sub_menu_list {
    display: none;
    position: absolute;
    left: 0;
    top: 10px;
    padding: 10px 0 0 0;
    min-width: 200px;
}

.sub_menu_list>li {
    background-color: darkorange;
}

.sub_menu_link {
    display: inline-block;
    color: black;
    padding: 5px;
}

.sub_sub_menu_list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 200px;
    padding: 0 0 0 10px;
}

.sub_sub_menu_list li {
    background-color: bisque;
}

.sub_menu_list>li:hover .sub_sub_menu_list {
    display: block;
}

.sub_sub_menu_link {
    display: inline-block;
    color: brown;
    padding: 5px;
}