body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.side {
    width: 100%;
    margin: 20px;
}

.menu a {
    background: #3d3d3d;
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-bottom: 1px solid #666;
    transition: 0.5s all;
    width: 150px;
}

.menu a:hover {
    background: #666;
    padding: 10px 0 10px 20px;
}

.menu li a {
    border-radius: 5px 5px 5px 5px;
}

ul.menu li {
    display: inline;
}


/* Всплывающее меню */

.menu_list {
    position: relative;
}

.sub_menu {
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 0;
    top: 0;
    padding-top: 0px;
    transition: 0.5s opacity;
    border-left: 5px solid transparent;
}

.menu_list:hover .sub_menu {
    opacity: 1;
    top: 30px;
}


/* Иконки */

.menu_list::after {
    content: "";
    position: absolute;
    border: 5px solid;
    border-color: #fff transparent transparent transparent;
    top: 0.3em;
    right: 0.5em
}

.menu_list:hover::after {
    transform: scaleY(-1);
}

@media screen and (max-width: 1400px) {
    ul.menu li {
        display: block;
    }
    .side {
        width: 200px;
        margin: 20px;
    }
    .menu a {
        background: #3d3d3d;
        color: #fff;
        padding: 10px;
        display: block;
        border-bottom: 1px solid #666;
        transition: 0.5s all;
        width: auto;
    }
    /* Всплывающее меню */
    .menu_list {
        position: relative;
    }
    .sub_menu {
        position: absolute;
        width: 100%;
        left: 100%;
        opacity: 0;
        top: -9999em;
        transition: 0.5s opacity;
        border-left: 5px solid transparent;
    }
    .menu_list:hover .sub_menu {
        opacity: 1;
        top: 0;
    }
    /* Иконки */
    .menu_list::after {
        content: "";
        position: absolute;
        border: 5px solid;
        border-color: transparent transparent transparent #fff;
        top: 1em;
        right: 0.5em
    }
    .menu_list:hover::after {
        transform: scaleX(-1);
    }
}