            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            
            p {
                font-family: 'Mason Chronicles';
                text-indent: 20px;
            }
            
            .death {
                min-height: 80vh;
                margin: 0 auto;
                width: 100%;
                background-image: url("Media/Death_2.gif");
                background-size: cover;
                background-repeat: no-repeat;
            }
            /* Глава I --------------------------------------------------------------- */
            
            .main {
                min-height: 100vh;
                margin: 0 auto;
                width: 100%;
                background-image: url("Media/introduction.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                padding-left: 30px;
                padding-right: 30px;
            }
            
            .container {
                padding-top: 0.1px;
            }
            
            .title {
                display: flex;
                justify-content: space-around;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 60px;
                box-shadow: 0px 5px 10px 6px rgba(29, 37, 44, 0.55);
                margin-top: 20px;
                width: 100%;
                font-size: 19px;
            }
            
            .title img {
                width: 50px;
            }
            
            .between {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-top: 30px;
            }
            
            .Calgar {
                width: 30%;
            }
            
            .Calgar img {
                width: 300px;
            }
            
            .text {
                margin: 0 auto;
                padding: 10px 20px 10px;
                font-size: 18px;
                width: 80%;
            }
            
            .text_center {
                padding: 10px 20px 10px;
                font-size: 18px;
            }
            
            .around_cover {
                display: flex;
                justify-content: center;
                flex-direction: column;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 60px;
                box-shadow: 0px 5px 10px 6px rgba(29, 37, 44, 0.55);
                padding: 3px;
                width: 100%;
            }
            
            .Calgar_1 {
                display: flex;
                justify-content: center;
            }
            
            .Calgar_1 img {
                width: 450px;
            }
            
            .Calgar_2 {
                width: 230px;
                float: right;
                shape-outside: polygon(77.73% 45.14%, 95.2% 97.75%, 14.06% 98.07%, 6.36% 49.16%, 44.04% -0.57%, 47.34% 34.19%);
            }
            
            .Old {
                width: 200px;
                float: left;
                shape-outside: polygon(77.73% 45.14%, 95.2% 97.75%, 14.06% 98.07%, 6.36% 49.16%, 44.04% -0.57%, 47.34% 34.19%);
            }
            
            .comment {
                font-size: 20px;
                font-family: 'Amatic SC', sans-serif;
            }
            
            .comment:hover {
                transition: all 0.4s linear;
                font-size: 22px;
            }
            
            .word {
                display: flex;
                justify-content: center;
                font-size: 25px;
            }
            
            .word p {
                text-indent: 0;
            }
            /*  Раздел --------------------------------------------------------------- */
            
            .screen {
                min-height: 100vh;
                margin: 0 auto;
                background-image: url("Media/Warhammer-40000.jpeg");
                box-shadow: 0px 5px 12px 5px rgba(0, 0, 0, 0.6);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                border: 10px solid;
                border-image: url("Media/ramka.png") 35 round;
                width: 100%;
            }
            /*  Раздел --------------------------------------------------------------- */
            /* Глава II --------------------------------------------------------------- */
            
            .Tigurius {
                width: 250px;
                float: right;
                shape-outside: polygon(77.73% 45.14%, 95.2% 97.75%, 14.06% 98.07%, 6.36% 49.16%, 44.04% -0.57%, 47.34% 34.19%);
            }
            
            .center_column_cover {
                display: flex;
                justify-content: center;
                flex-direction: column;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 60px;
                box-shadow: 0px 5px 10px 6px rgba(29, 37, 44, 0.55);
                padding: 3px;
                width: 100%;
            }
            
            .Calgar_3 {
                display: flex;
                justify-content: center;
            }
            
            .Calgar_3 img {
                width: 230px;
                shape-outside: polygon(77.73% 45.14%, 95.2% 97.75%, 14.06% 98.07%, 6.36% 49.16%, 44.04% -0.57%, 47.34% 34.19%);
            }
            
            .end_img {
                display: flex;
                justify-content: right;
            }
            
            .end_img img {
                width: 700px;
            }
            
            @media screen and (max-width: 1100px) {
                p {
                    font-family: 'Mason Chronicles';
                    text-indent: 15px;
                }
                .death {
                    min-height: 60vh;
                }
                /* Глава I */
                .Cosmo {
                    display: none;
                }
                .text {
                    padding: 5px 15px 5px;
                    font-size: 16px;
                    width: 100%;
                }
                .text_center {
                    font-size: 16px;
                    width: 100%;
                }
                .Calgar img {
                    width: 220px;
                }
                .word {
                    font-size: 20px;
                }
                /*  Раздел --------------------------------------------------------------- */
                .screen {
                    min-height: 60vh;
                    background-attachment: local;
                    background-position: right center;
                    border: 10px solid;
                    border-image: url("Media/ramka.png") 35 repeat;
                }
                /*  Раздел --------------------------------------------------------------- */
            }
            
            @media screen and (max-width: 800px) {
                p {
                    font-family: 'Mason Chronicles';
                    text-indent: 10px;
                }
                .death {
                    min-height: 40vh;
                    margin: 0 auto;
                    background-image: url("Media/Death_2.gif");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                /* Глава I */
                .main {
                    min-height: 100vh;
                    margin: 0 auto;
                    width: 100%;
                    background-image: url("Media/introduction.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .Cosmo {
                    display: none;
                }
                .title {
                    width: 100%;
                }
                .title img {
                    width: 40px;
                }
                .between {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    padding-top: 20px;
                }
                .Calgar {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                .Calgar img {
                    width: 200px;
                }
                .text {
                    font-size: 15px;
                    width: 100%;
                }
                .text_around {
                    font-size: 15px;
                    width: 100%;
                }
                .Calgar_1 img {
                    width: 280px;
                }
                .Calgar_2 {
                    width: 180px;
                }
                .Old {
                    width: 170px;
                    float: left;
                }
                .comment {
                    font-size: 17px;
                }
                .comment:hover {
                    transition: all 0.8s linear;
                    font-size: 18px;
                }
                .word {
                    font-size: 18px;
                }
                /*  Раздел --------------------------------------------------------------- */
                /*  Раздел --------------------------------------------------------------- */
                /* Глава I */
                .Calgar_3 img {
                    width: 180px;
                }
            }
            
            @media screen and (max-width: 450px) {
                /* Глава I */
                .main {
                    min-height: 80vh;
                    margin: 0 auto;
                    width: 100%;
                    background-image: url("Media/short.jpg");
                    background-size: contain;
                    background-repeat: repeat;
                    background-attachment: scroll;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }