* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Mason Chronicles';
    text-indent: 20px;
}

.death {
    min-height: 80vh;
    margin: 0 auto;
    width: 100%;
    background-image: url("Media/Death_2.gif");
    background-size: cover;
    background-repeat: no-repeat;
}


/* Глава I --------------------------------------------------------------- */

.main {
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    background-image: url("Media/introduction.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    padding-top: 0.1px;
}

.title {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 60px;
    box-shadow: 0px 5px 10px 6px rgba(29, 37, 44, 0.55);
    margin-top: 20px;
    width: 100%;
    font-size: 19px;
}

.title img {
    width: 50px;
}

.between {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}

.Calgar {
    width: 30%;
}

.Calgar img {
    width: 300px;
}

.text {
    padding: 10px 20px 10px;
    font-size: 18px;
    width: 100%;
}

.text_center {
    padding: 10px 20px 10px;
    font-size: 18px;
}

.around_cover {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 60px;
    box-shadow: 0px 5px 10px 6px rgba(29, 37, 44, 0.55);
    padding: 3px;
    width: 100%;
}

.Сalgar_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}

.Calgar_1 img {
    width: 235px;
}

.Calgar_2 {
    width: 200px;
    float: right;
}

.Old {
    width: 190px;
    float: left;
}

.comment {
    font-size: 20px;
    font-family: 'Amatic SC', sans-serif;
}

.comment:hover {
    transition: all 0.4s linear;
    font-size: 22px;
}

.text_big {
    padding: 10px 20px 10px;
    font-size: 18px;
    width: 100%;
}

.word {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.word p {
    text-indent: 0;
}

.Icon {
    display: flex;
    justify-content: space-around;
}

.Icon img {
    width: 120px;
}


/*  Раздел --------------------------------------------------------------- */

.screen {
    min-height: 100vh;
    margin: 0 auto;
    background-image: url("Media/Warhammer-40000.jpeg");
    box-shadow: 0px 5px 12px 5px rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 10px solid;
    border-image: url("Media/ramka.png") 35 round;
    width: 100%;
}


/*  Раздел --------------------------------------------------------------- */


/* Глава II --------------------------------------------------------------- */

.main2 {
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    background-image: url("Media/introduction.jpg");
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 5px 5px 5px 12px rgba(31, 31, 31, 0.6);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.big_logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 450px;
}

.between_cover {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 60px;
    box-shadow: 0px 5px 10px 6px rgba(29, 37, 44, 0.55);
    padding: 3px;
    width: 100%;
}

.Chaplain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.Chaplain img {
    width: 260px;
}

.center_column_cover {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 60px;
    box-shadow: 0px 5px 10px 6px rgba(29, 37, 44, 0.55);
    padding: 3px;
    width: 100%;
}

.Techmarine {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}

.Techmarine img {
    width: 260px;
}


/*  Раздел --------------------------------------------------------------- */

.screen_2 {
    height: 60vh;
    background-image: url("Media/Abbadon.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    box-shadow: 0px 5px 10px 6px rgba(0, 0, 0, 0.7);
    border: 10px solid;
    border-image: url("Media/ramka.png") 35 round;
    width: 100%;
}


/*  Раздел ---------------------------------------------------------------
*/

@media screen and (max-width: 1100px) {
    p {
        font-family: 'Mason Chronicles';
        text-indent: 15px;
    }
    .death {
        min-height: 60vh;
    }
    /* Глава I */
    .Cosmo {
        display: none;
    }
    .text {
        padding: 5px 15px 5px;
        font-size: 16px;
        width: 100%;
    }
    .text_around {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .Calgar img {
        width: 220px;
    }
    .around_cover {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 60px;
        box-shadow: 0px 5px 10px 5px rgba(29, 29, 29, 0.8);
        padding: 3px;
        width: 100%;
    }
    .Calgar_1 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    .Calgar_1 img {
        width: 195px;
    }
    .comment {
        font-size: 19px;
        font-family: 'Amatic SC', sans-serif;
    }
    .comment:hover {
        transition: all 0.8s linear;
        font-size: 20px;
    }
    .text_big {
        padding: 5px 15px 5px;
        font-size: 16px;
        width: 100%;
    }
    .word {
        font-size: 20px;
    }
    .Icon {
        display: flex;
        justify-content: center;
    }
    .Icon img {
        width: 100px;
    }
    .screen {
        min-height: 80vh;
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* Глава II */
    .logo {
        display: flex;
        justify-content: center;
    }
    .logo img {
        width: 130px;
    }
    .Chaplain {
        width: 25%;
    }
    .Chaplain img {
        width: 200px;
    }
    .Techmarine {
        width: 30%;
    }
    .Techmarine img {
        width: 200px;
    }
    /*  Раздел --------------------------------------------------------------- */
    .screen_2 {
        min-height: 50vh;
        background-attachment: local;
        background-position: center center;
    }
    /*  Раздел --------------------------------------------------------------- */
}


/* 800 */

@media screen and (max-width: 800px) {
    p {
        font-family: 'Mason Chronicles';
        text-indent: 10px;
    }
    /* .death {} */
    /* Глава I */
    .main {
        min-height: 100vh;
        margin: 0 auto;
        width: 100%;
        background-image: url("Media/introduction.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-left: 15px;
        padding-right: 15px;
    }
    .Cosmo {
        display: none;
    }
    .title {
        width: 100%;
    }
    .title img {
        width: 40px;
    }
    .between {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-top: 20px;
    }
    .Calgar {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .Calgar img {
        width: 200px;
    }
    .text {
        font-size: 15px;
        width: 100%;
    }
    .text_around {
        width: 100%;
    }
    .around_cover {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 60px;
        box-shadow: 0px 5px 10px 5px rgba(29, 29, 29, 0.8);
        padding: 3px;
        width: 100%;
    }
    .Calgar_1 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    .Calgar_1 img {
        width: 200px;
    }
    .Calgar_2 {
        width: 180px;
    }
    .Old {
        width: 170px;
        float: left;
    }
    .comment {
        font-size: 17px;
    }
    .comment:hover {
        transition: all 0.8s linear;
        font-size: 18px;
    }
    .text_big {
        font-size: 15px;
        width: 100%;
    }
    .word {
        display: flex;
        justify-content: center;
    }
    .Icon img {
        width: 80px;
    }
    .screen {
        min-height: 60vh;
        background-attachment: local;
        background-position: center center;
        border: 10px solid;
        border-image: url("Media/ramka.png") 35 repeat;
    }
    /* Глава II */
    .main2 {
        min-height: 100vh;
        margin: 0 auto;
        width: 100%;
        background-image: url("Media/introduction.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
    .logo img {
        width: 110px;
    }
    .between_cover {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 60px;
        box-shadow: 0px 5px 10px 5px rgba(29, 29, 29, 0.8);
        padding: 3px;
        width: 100%;
    }
    .Chaplain {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    .Chaplain img {
        width: 200px;
    }
    .Techmarine {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    .Techmarine img {
        width: 200px;
    }
    .screen_2 {
        min-height: 40vh;
        background-attachment: local;
        background-position: center center;
        border: 10px solid;
        border-image: url("Media/ramka.png") 35 repeat;
    }
}

@media screen and (max-width: 450px) {
    /*
Глава I */
    .main {
        min-height: 80vh;
        margin: 0 auto;
        width: 100%;
        background-image: url("Media/short.jpg");
        background-size: contain;
        background-repeat: repeat;
        background-attachment: scroll;
        padding-left: 5px;
        padding-right: 5px;
    }
    /* Глава II */
    .main2 {
        min-height: 80vh;
        margin: 0 auto;
        width: 100%;
        background-image: url("Media/short.jpg");
        background-size: contain;
        background-repeat: repeat;
        background-attachment: scroll;
        padding-left: 5px;
        padding-right: 5px;
    }
}