* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Mason Chronicles';
    text-indent: 20px;
}


/*  Глава I --------------------------------------------------------------- */

.main {
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    background-image: url("./introduction.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    padding-top: 0.1px;
}

.title {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0px 5px 10px 6px rgba(29, 37, 44, 0.55);
    margin-top: 20px;
    width: 100%;
    font-size: 19px;
}

.title img {
    width: 50px;
}

.between {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}

.Captain {
    width: 20%;
}

.Captain img {
    width: 260px;
}

.text {
    padding: 10px 20px 10px;
    font-size: 18px;
    width: 80%;
}

.around_cover {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0px 5px 10px 6px rgba(29, 37, 44, 0.55);
    padding: 3px;
    width: 100%;
}

.Templar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.Templar img {
    width: 195px;
}

.comment {
    font-size: 20px;
    font-family: 'Amatic SC', sans-serif;
}

.text_big {
    padding: 10px 20px 10px;
    font-size: 18px;
    width: 100%;
}

.word {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.word p {
    text-indent: 0;
}

.Icon {
    display: flex;
    justify-content: space-around;
}

.Icon img {
    width: 120px;
}


/*  Раздел --------------------------------------------------------------- */

.screen {
    min-height: 60vh;
    margin: 0 auto;
    background-image: url("./Introduction-artwork-v3-1.jpg");
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}


/*  Раздел --------------------------------------------------------------- */


/*  Глава II --------------------------------------------------------------- */

.main2 {
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    background-image: url("./introduction.jpg");
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0px 5px 10px 14px rgba(29, 29, 29, 0.8);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 150px;
}

.between_cover {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0px 5px 10px 6px rgba(29, 37, 44, 0.55);
    padding: 3px;
    width: 100%;
}

.Chaplain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.Chaplain img {
    width: 260px;
}

.center_column_cover {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    box-shadow: 0px 5px 10px 6px rgba(29, 37, 44, 0.55);
    padding: 3px;
    width: 100%;
}

.Techmarine {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}

.Techmarine img {
    width: 260px;
}


/*  Раздел --------------------------------------------------------------- */

.screen_2 {
    height: 60vh;
    background-image: url("./Abbadon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    box-shadow: 0px 5px 10px 6px rgba(0, 0, 0, 0.7);
    width: 100%;
}


/*  Раздел --------------------------------------------------------------- */


/*  Глава III --------------------------------------------------------------- */

.main3 {
    min-height: 80vh;
    margin: 0 auto;
    width: 100%;
    background-image: url("./death.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.dop {
    min-height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 5px 10px 5px rgba(29, 37, 44, 0.8);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.Army {
    display: flex;
    justify-content: center;
}

.Army img {
    width: 500px;
}

.Boss {
    width: 30%;
}

.Boss img {
    width: 350px;
}

.last_word {
    display: flex;
    justify-content: center;
}

.Game {
    display: flex;
    justify-content: center;
}

.Game img {
    width: 550px;
}

.text_small {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}


/* 1100 */

@media screen and (max-width: 1100px) {
    p {
        font-family: 'Mason Chronicles';
        text-indent: 15px;
    }
    /*  Глава I  */
    .Cosmo {
        display: none;
    }
    .text {
        padding: 2px 15px 2px;
        font-size: 17px;
        width: 100%;
    }
    .Captain img {
        width: 200px;
    }
    .Templar {
        width: 25%;
    }
    .Templar img {
        width: 145px;
    }
    .text_big {
        padding: 2px 15px 2px;
        font-size: 17px;
        width: 100%;
    }
    .word {
        font-size: 20px;
    }
    .Icon {
        display: flex;
        justify-content: center;
    }
    .Icon img {
        width: 100px;
    }
    .screen {
        min-height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*  Глава II  */
    .logo {
        display: flex;
        justify-content: center;
    }
    .logo img {
        width: 130px;
    }
    .Chaplain {
        width: 25%;
    }
    .Chaplain img {
        width: 200px;
    }
    .Techmarine {
        width: 30%;
    }
    .Techmarine img {
        width: 200px;
    }
    .screen_2 {
        min-height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*  Глава II  */
    .Army img {
        width: 400px;
    }
    .Boss img {
        width: 300px;
    }
}


/* 800 */

@media screen and (max-width: 800px) {
    p {
        font-family: 'Mason Chronicles';
        text-indent: 10px;
    }
    /*  Глава I  */
    .main {
        min-height: 100vh;
        margin: 0 auto;
        width: 100%;
        background-image: url("./introduction.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-left: 5px;
        padding-right: 5px;
    }
    .Cosmo {
        display: none;
    }
    .title {
        width: 100%;
    }
    .title img {
        width: 40px;
    }
    .between {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-top: 20px;
    }
    .Captain {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .Captain img {
        width: 200px;
    }
    .text {
        padding: 1px 10px 1px;
        font-size: 15px;
        width: 100%;
    }
    .around_cover {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        box-shadow: 0px 5px 10px 5px rgba(29, 29, 29, 0.8);
        padding: 3px;
        width: 100%;
    }
    .Templar {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    .Templar img {
        width: 145px;
    }
    .comment {
        font-size: 18px;
    }
    .text_big {
        padding: 1px 10px 1px;
        font-size: 15px;
        width: 100%;
    }
    .word {
        display: flex;
        justify-content: center;
    }
    .Icon img {
        width: 80px;
    }
    .screen {
        min-height: 40vh;
        background-attachment: local;
        background-position: center center;
    }
    /*  Глава II  */
    .main2 {
        min-height: 100vh;
        margin: 0 auto;
        width: 100%;
        background-image: url("./introduction.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-left: 5px;
        padding-right: 5px;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
    .logo img {
        width: 110px;
    }
    .between_cover {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        box-shadow: 0px 5px 10px 5px rgba(29, 29, 29, 0.8);
        padding: 3px;
        width: 100%;
    }
    .Chaplain {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    .Chaplain img {
        width: 200px;
    }
    .Techmarine {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    .Techmarine img {
        width: 200px;
    }
    .screen_2 {
        min-height: 40vh;
        background-attachment: local;
        background-position: center center;
    }
    /*  Глава III  */
    .main3 {
        min-height: 50vh;
        margin: 0 auto;
        width: 100%;
        background-image: url("./death.gif");
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 0.1px;
    }
    .dop {
        min-height: 50vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0px 5px 10px 5px rgba(29, 37, 44, 0.8);
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
    }
    .Army img {
        width: 300px;
    }
    .Boss {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    .Boss img {
        width: 250px;
    }
    .last_word {
        flex-direction: column;
    }
    .Game {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .Game img {
        width: 350px;
    }
    .text_small {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 35%;
        padding-right: 35%;
    }
}

@media screen and (max-width: 450px) {}